body {
    text-align: center;
    background-color: #f5ebeb;
}

h1 {
    color: red;
}

.cell img {
    width: 10px;
    /* width: 100%; */
    height: auto;
}

table {
    /* width:100px; */
    margin: 40px auto;
    /* margin-top: 40px;
    margin-bottom: 40px; */

    border: 5px solid rgb(202, 202, 202);
    /* border: 2px */
    background-color: #dedada;
    border-collapse: collapse;
    
    
}





th {
    
    /* width: 10px; */
    height: 10px;
    font-size: 1em;
    /* border: none; */
    padding-bottom: 10px;
    padding-top: 10px;
    
    
}



.cell {
    /* box-sizing: border-box; */
    width: 10px;
    height: 10px;

    
    font-size: 1em;
    padding: 3px;
    /* box-shadow: 0px -1px 3px 0px #6b6b6b; */
    box-shadow: inset -4px -3px 3px 0px #6b6b6b;
    border: white;
    /* border: 1px solid rgb(63, 63, 63); */
    border: 1px solid rgb(255, 255, 255);

    
   

}

/* .mine-count{
    width:20%;
    text-align: left;
} */

.smiley{
    border: 2px solid rgb(129, 126, 126);
    
}

/* .timer{
    width:20%;
    text-align: right;

} */




.cell-invisible {
    opacity: 0;
    
    
}

.hide {
    display: none;
}

.cell-no-shadow {
    box-shadow: 0px 0px 0px 0px #808080;
    
    border: 1px solid rgb(111, 110, 110);
}